@font-face
  font-family: 'icomoon'
  src:  url('./common/fonts/icomoon.eot?ee48a1')
  src:  url('./common/fonts/icomoon.eot?ee48a1#iefix') format('embedded-opentype'),
    url('./common/fonts/icomoon.ttf?ee48a1') format('truetype'),
    url('./common/fonts/icomoon.woff?ee48a1') format('woff'),
    url('./common/fonts/icomoon.svg?ee48a1#icomoon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-people:before
  content: "\e917"

.icon-like:before
  content: "\e915"

.icon-check:before
  content: "\e913"

.icon-top:before
  content: "\e911"

.icon-backward:before
  content: "\e90f"

.icon-forward:before
  content: "\e910"

.icon-all:before
  content: "\e90d"

.icon-add:before
  content: "\e900"

.icon-back:before
  content: "\e901"

.icon-close:before
  content: "\e902"

.icon-delete:before
  content: "\e903"

.icon-delete_all:before
  content: "\e904"

.icon-dismiss:before
  content: "\e905"

.icon-history:before
  content: "\e906"

.icon-more:before
  content: "\e907"

.icon-favor_fill:before
  content: "\e912"

.icon-favor:before
  content: "\e90e"

.icon-keyboard:before
  content: "\e90c"

.icon-nav-columnist:before
  content: "\e908"

.icon-nav-home:before
  content: "\e909"

.icon-nav-search:before
  content: "\e90a"

.icon-search:before
  content: "\e90b"

.icon-no_result:before
  content: "\e916"

.icon-logo:before
  content: "\e914"

.icon-weixin:before
  content: "\e918"

.icon-logout:before
  content: "\e919"

.icon-hot:before
  content: "\e91a"

.icon-hot_fill:before
  content: "\e91b"

.icon-subscription:before
  content: "\e91c"

.icon-pull_down:before
  content: "\e91d"

.icon-notice:before
  content: "\e91e"

.icon-point:before
  content: "\e91f"

.icon-square:before
  content: "\e920"

.icon-square_check_fill:before
  content: "\e921"

.icon-arrow_up_fill:before
  content: "\e922"

.icon-arrow_down_fill:before
  content: "\e923"
