.news-enter-active
  transform translateY(0)
  transition all 0.5s linear
.news-leave-active
  transform translateY(-100%)
  transition all 0.5s linear
.news-enter
  transform translateY(100%)
.news-leave
  transform translateY(0)

.image-enter-active
  transform translateX(0)
  transition all 1s ease
.image-leave-active
  transform translateX(-100%)
  transition all 1s ease
.image-enter
  transform translateX(100%)
.image-leave
  transform translateX(0)
